<h1>Hello from Avi Watwani</h1>

<p>
  This project is the submission of Incubyte's technical challenge.
  It's a simple string calculator, please find the code in the below files:
  <ol>
    <li>lib/string_calculator.rb</li>
    <li>spec/string_calculator_spec.rb</li>
  </ol>

  To run the tests, please run the following command:
  <br/ ><code>rspec spec/string_calculator_spec.rb</code>
  <br/ >or
  <br/ ><code>bundle exec rspec</code>
</p>
